:root{
  --ifm-color-primary-lightest: #515151;
  --ifm-color-primary-lighter: #474747;
  --ifm-color-primary-light: #444444;
  --ifm-color-primary: #3E3E3E;
  --ifm-color-primary-dark: #383838;
  --ifm-color-primary-darker: #353535;
  --ifm-color-primary-darkest: #2B2B2B;
}
